# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\KKN\Program\Administrasi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
